@import "variables/colors";
@import "variables/fonts";

#contact {
   body {
      background-color: $cdk-body-background;
      font-family: $lato;
      font-size: 12pt;
      font-weight: 400;
   }
   h1 {
      color: $cdk-green-dark;
      text-align: center;
      font-size: 1.8em;
      font-weight: 400;
   }
   h3 {
      color: black;
      text-align: center;
      font-size: 1.2em;
      font-weight: 350;
   }
   p {
      text-align: center;
   }
   a {
      text-decoration: none;
      width: 100vw;
      color: #62a3af;
   }
   a:hover {
      color: $cdk-green-highlight;
   }
   a:visited {
      color: $cdk-green;
   }
}