@import "variables/colors";
@import "variables/fonts";
#loginContainer {
   background: url(../images/ppl-eating.jpg) no-repeat center center fixed;
   background-size: cover;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: $lato;
   form {
      opacity:0.9;
      padding: 30px 0;
      background-color: white;
      text-align: center;
      width: 500px;
      margin: 0 auto;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      flex-wrap: wrap;
      top: 60px;
      input {
         border: none;
         border-bottom: 1px solid $bootstrap-green;
         width: 90%;
         margin: auto;
      }
      h1 {
         color: $cdk-green-dark;
         width: 100%;
         text-align: center;
         font-size: 1.8em;
         font-weight: 400;
      }
      p {
         width: 100%;
      }
      input,
      p {
         display: block;
      }
      button {
         margin: 20px auto 0 auto;
         background: $bootstrap-green;
         color: white;
         border: none;
         padding: 8px 15px;
         font-style: italic;
         border-radius: 5px;
         box-shadow: 2px 2px 4px 1px $shadow;
         transition: box-shadow .3s;
         cursor: pointer;
         &:hover {
            box-shadow: none;
         }
      }
      align-items: center;
   }
}

#aboutContainer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 15px;
   grid-auto-rows: minmax(100px, auto);
   padding: 15px 0;
   background-color: white;
   text-align: center;
   margin: 0 auto;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
   h2 {
      color: #20530b;
      font-weight: 400;
      margin: 30px;
   }
   p {
      color: #6f7e6c;
      margin: 30px;
   }
   .about {
      
   }
   .features {
      
   }
   .hackathon {
      
   }
}