@import "variables/colors";
@import "variables/fonts";
@import "modules/toggleSelector";
@import "variables/breakpoints";
html,
body {
   overflow-x: hidden;
}

#home {
   @import "modules/buttons";
   font-family: $lato;
   .content {
      display: grid;
      width: 90vw;
      min-height: 85vh;
      grid-gap: 10px;
      margin: auto;
      h3 {
         padding: 5px;
         background: $primary-light;
      }
      #peopleList {
         background: $primary;
         overflow-y: scroll;
         .event {
            margin: 15px 10px;
            display: grid;
            grid-gap: 10px;
            background: #f2f2f2;
            grid-template-columns: auto 120px 40px;
            #left {
               padding: 10px;
               img {
                  border-radius: 50%;
                  width: 70px;
               }
               .person,
               .location,
               .location>div,
               .other {
                  display: flex;
                  align-items: center;
                  padding: 3px 0;
               }
               .location {
                  justify-content: space-between;
               }
               .other {
                  justify-content: space-between;
                  max-width: 150px;
               }
               .other>div {
                  display: flex;
                  align-items: center;
               }
               i {
                  padding: 0 10px;
               }
               .active {
                  color: gold;
               }
            }
            #middle {
               display: flex;
               align-items: center;
            }
            #right {
               background: $cdk-green;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 5em;
               font-weight: 100;
               transition: 0.4s background ease;
               cursor: pointer;
               color: white;
               &:hover {
                  transition: 0.4s background ease;
                  background: $cdk-green-highlight;
               }
            }
         }
      }
   }
   #moreInfo {
      background: $primary;
      .form {
         margin: 15px;
         font-size: 1.3em;
         table {
            width: 100%;
         }
         label {
            color: #6c6c6c;
         }
         input {
            width: 100%;
            border: none;
            border-bottom: 1px solid $cdk-green;
            background: none;
            font-size: 0.9em;
            outline: none;
            margin: 10px 0 5px 0;
         }
         .inputLabel {
            top: -28px;
            transition: top 0.4s, font 0.4s, color 0.4s;
            position: relative;
            font-size: 0.8em;
            color: #838383;
         }
         .is-active,
         .is-completed {
            transition: top 0.4s, font 0.4s, color 0.4s;
            top: -10px;
            font-size: 0.6em;
            color: #acacac;
         }
      }
      #error {
         color: red;
      }
      #success {
         color: green;
      }
      .center {
         text-align: center;
      }
      .switch {
         margin: 20px 0;
      }
      .eventDetails {
         button {
            float: left;
            border-radius: 0;
            box-shadow: 0px 0px 0px;
            margin: 0;
            line-height: 1.1;
            padding: 0 10px;
            transition: 0.3s background;
            &:hover {
               transition: 0.3s background;
               background: $cdk-green-highlight;
            }
         }
         .moreInfoTable {
            margin: 30px auto;
            font-size: 1.2em;
            tr {
               td {
                  padding: 5px 10px;
               }
            }
         }
      }
   }
   #map {
      overflow: hidden;
      min-height: 50vh;
      background: $secondary-dark;
   }
}

@media screen and (min-width: $medium) {
   #home {
      .content {
         grid-template-columns: 500px auto;
         #peopleList {
            grid-row: span 2;
         }
      }
   }
}

.controls {
   width: 50%;
   border-radius: 10px;
}
