//variables
@import "variables/colors";
@import "variables/fonts";
@import "variables/breakpoints";
@import "modules/popup";
html,
body {
   overflow-x: hidden;
}

#home {
   //set the font style of the home page to Lato by default
   @import "modules/buttons";
   @include font-style();
   .content {
      min-height: calc(100vh - 52px); //center the content horizontally
      //when the screen is greater than the width of a tablet
      margin: auto; //if the browser does not support grid (it is IE), use some old school
      //code to style the page (IE doesn't even support the @supports tag, so
      //this is actually meant to keep new browsers from running old code)
      @supports not (display: grid) {
         #map {
            min-height: 50vh;
            float: left;
            width: 400px;
         }
      }
      @include greater-than($tablet) {
         display: grid;
      }
      @include between($tablet, $desktop) {
         grid-gap: 10px;
         grid-template-columns: 400px auto;
         grid-template-rows: auto 1fr;
         grid-template-areas: "events map map" "events info info";
      }
      @include greater-than($desktop) {
         grid-template-columns: 400px auto 400px;
         grid-template-areas: "events map info" "events map info";
      }
      .module {
         background: $primary-light;
      }
      h3 {
         padding: 5px 0;
         width: 100%;
         background: $primary;
      }
      select {
         @include font-style($size: 1.1em, $color: white);
         outline: none;
         border: none;
         background: $secondary;
         padding: 10px;
      } //bring in the code for the list of events
      @import "components/main/eventList"; //bring in the code for the more info section
      @import "components/main/moreInfo";
      #map {
         @include between($tablet, $desktop) {
            min-height: 400px;
            height: 50vh;
         }
         @include greater-than($tablet) {
            grid-area: map;
         }
         @include greater-than($desktop) {
            margin: 15px;
         }
         @include less-than($tablet) {
            min-height: 60vh;
         } //modify the view of the google map search bar
         #pac-input {
            width: 50%;
            margin-top: 30px;
            border-radius: 10px;
            border-radius: 0;
            line-height: 2.2;
            font-size: 1.3em;
         }
      }
      .progressMeter {
         font-size: 0.8em;
         color: $shadow;
      }
      .flexCenter {
         display: flex;
         justify-content: center;
         align-content: center;
      }
   }
   @include popup();
}