@import "variables/colors";
@import "variables/fonts";
@import "modules/toggleSelector";
@import "variables/breakpoints";
#home {
   @import "modules/buttons";
   font-family: $lato;
   .content {
      display: grid;
      width: 90vw;
      min-height: 85vh;
      grid-gap: 10px;
      margin: auto;
      h3 {
         padding: 5px;
         background: $primary-light;
      }
      #peopleList {
         grid-row: span 2;
         background: $primary;
         max-height: 85vh;
         overflow-y: scroll;
         .event {
            margin: 15px 10px;
            display: grid;
            background: #f2f2f2;
            grid-template-columns: 2fr 1fr;
            padding: 10px;
            cursor: pointer;
            p,
            i,
            h4 {
               color: #363636;
            }
            .person {
               display: flex;
               align-items: center;
               img {
                  padding-right: 10px;
               }
            }
            img {
               border-radius: 50%;
               width: 70px;
            }
            div:not(.person) {
               display: flex;
               align-items: center;
            }
            .location {
               grid-column: span 2;
               div {
                  display: block;
               }
            }
            .other div {
               width: 33%;
            }
         }
         i {
            padding: 10px;
         }
         .fa-users {
            transition: 0.2s color;
            &:hover {
               transition: 0.2s color;
               color: gold;
            }
         }
         .active {
            color: gold;
         }
      }
   }
   #moreInfo {
      background: $primary;
      .form {
         margin: 15px;
         font-size: 1.3em;
         input {
            width: 95%;
            border: none;
            border-radius: 3px;
            font-size: 0.8em;
            padding: 8px 10px;
            outline: none;
            margin: 5px 0 10px 0;
         }
      }
      #error {
         color: red;
      }
      #success {
         color: green;
      }
      .center {
         text-align: center;
      }
      .eventDetails {
         button {
            float: left;
            border-radius: 0;
            box-shadow: 0px 0px 0px;
            margin: 0;
            line-height: 1.1;
            padding: 0 10px;
            transition: 0.3s background;
            &:hover {
               transition: 0.3s background;
               background: $cdk-green-dark;
            }
         }
         .moreInfoTable {
            margin: 30px auto;
            font-size: 1.2em;
            tr {
               td {
                  padding: 5px 10px;
               }
            }
         }
      }
   }
   #map {
      overflow: hidden;
      min-height: 50vh;
      background: $secondary-dark;
   }
}

@media screen and (min-width: $medium) {
   #home {
      .content {
         grid-template-columns: 500px auto;
         #peopleList {
            grid-row: span 2;
         }
      }
   }
}

.controls {
   width: 50%;
   margin-top: 10px;
   border-radius: 10px;
}