@import "variables/colors";
@import "variables/fonts";

body {
   margin: 0;
   padding: 0;
}

nav {
   display: flex;
   justify-content: space-around;
   background-color: black;
   overflow: hidden;

   a {
      float: left;
      display: block;
      color: $cdk-green;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-weight: 500;
      transition: 0.3s color;
      &:hover {
         color: white;
         transition: 0.3s color;
      }
   }
}