@import "../variables/colors";
@import "../variables/fonts";
button {
   @include font-style($color: $secondary-text, $size: 1em);
   @include background-hover($secondary, $secondary-light, 0.5s);
   border: none;
   padding: 8px 15px;
   border-radius: 5px;
   cursor: pointer;
   outline: none;
}
