@import "../variables/colors";

input[type="text"] {
   border-width: 0 0 1px 0;
   border-color: $cdk-green;
   background: none;
   color: white;
   outline: none;
}

input[type="time"] {
   background: none;
   outline: none;
   color: white;
   border: none;
}

input[type="submit"] {
   color: black;
}