<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

      <script src="app.js"></script>
      <script src="/Controllers/loginController.js"></script>
   </head>
   <body ng-app="lunchBoxApp">
      something
      {{fuck}}
      {{loginController.fuck}}
      <input type="text" placeholder="{{loginController.loginName}}" ng-model="loginName"/>
      <input type="pasword" placeholder="loginPassword" ng-model="loginPassword" />
   </body>
</html>