// colors.scss


//****** Color formatting: *******/
// $origin(-color|-target)[-light|-dark|-highlight|-other]

// origin: whichever company or group selected the color
// (-color|-target): required notation decerning what color it is or what type of web element it is targeted for
// [...]: any additional notation, difference between light and dark, background, highlight, etc.

//***** CDK colors *****/
//red
$cdk-red:               #FF0000;

//green
$cdk-green:             #82c600;
$cdk-green-dark:        #2c7100;
$cdk-green-highlight:   #AFDB5C;

$bootstrap-green:       #5cb85c;

//document
$cdk-body-background:   #f2f2f2;
$cdk-text-color:        #656565;

$shadow:                #9b9b9b;

$cdk-black:             black;
$cdk-white:             white;

//google material design theme
//$primary:       #43a047;
//$primary-light: #76d275;
//$primary-dark:  #00701a;


$primary:             #e2e2e2;
$primary-light:       #efefef;
$primary-dark:        #bebebe;
$primary-text:        black;
$primary-text-light:  #535353;

//$secondary:           #82c600;
$secondary:           #38ce44;
$secondary-light:     lighten($secondary, 15%);
$secondary-dark:      darken($secondary, 15%);
$secondary-text:      white;
$secondary-text-light:white;
$secondary-text-dark: black;

$link-blue: #578bff;


//Below is the ability to change the color theme of the whole site based on a base color
//based off that color, the site should recalculate to get colors in the color wheel that go well
//with the base value

//$base-hue: 120;
//$base-saturation: 30%;
//$base-lightness: 80%;
//
//$primary:       hsl($base-hue, $base-saturation, $base-lightness);
//$primary-light: lighten($primary, 5%);
//$primary-dark:  darken($primary, 15%);
//
//$primary-text:  hsl($base-hue, $base-saturation, 100%);
//
//$secondary:       hsl($base-hue - 20%, $base-saturation, $base-lightness);
//$secondary-light: lighten($secondary, 5%);
//$secondary-dark:  lighten($secondary, 15%);
