// colors.scss


//****** Color formatting: *******/
// $origin(-color|-target)[-light|-dark|-highlight|-other]

// origin: whichever company or group selected the color
// (-color|-target): required notation decerning what color it is or what type of web element it is targeted for
// [...]: any additional notation, difference between light and dark, background, highlight, etc.

//***** CDK colors *****/
//red
$cdk-red:               #FF0000;

//green
$cdk-green:             #82c600;
$cdk-green-dark:        #2c7100;
$cdk-green-highlight:   #AFDB5C;

$bootstrap-green:       #5cb85c;

//document
$cdk-body-background:   #f2f2f2;
$cdk-text-color:        #656565;

$shadow:                #9b9b9b;

$cdk-black:             black;
$cdk-white:             white;

//google material design theme
//$primary: #43a047;
//$primary-light: #76d275;
//$primary-dark: #00701a;

$primary:       #e2e2e2;
$primary-light: #efefef;
$primary-dark:  #bebebe;

$secondary: #37474f;
$secondary-light: #62727b;
$secondary-dark: #102027;

$primary-text: black;
$secondary-text: white;
