$lato: 'Lato', sans-serif;

// takes a start color, and end color and will transition
// to that over the number of seconds defined in $time
// when hovering the cursor over that element
@mixin color-hover($startColor, $endColor, $time) {
   color: $startColor;
   transition: $time color;
   &:hover {
      color: $endColor;
      transition: $time color;
   }
}

@mixin font-style($size: false, $color: false, $weight: false,  $lh: false) {
    font-family: 'Lato', sans-serif;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }

}

//Calculates the rems with a px fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin background-hover($startColor, $endColor, $time) {
   background: $startColor;
   transition: $time background;
   &:hover {
      background: $endColor;
      transition: $time background;
   }
}


@mixin flex($vertical-center: true, $horizontal-center: true) {
   display: flex;
   @if $vertical-center { align-items: center; }
   @if $horizontal-center { justify-content: center; }
}
