<div id="login">
   <div id="loginContainer">
      <form>
         <h2>LunchBox</h2>
         <input type="text" id="user" ng-model="loginName" placeholder="Username" />
         <button type="submit" ng-click="signIn()">Enter</button>
      </form>
   </div>
   <div id="aboutContainer">
      <div class="about">
         <h2> - ABOUT - </h2>
         <div>
            <div>
               <h3>Purpose</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem recusandae beatae perferendis nam, aliquam quis labore explicabo ut laboriosam aperiam odit quidem molestiae modi sequi corporis et corrupti. Perferendis, sint?</p>
            </div>
            <div>
               <h3>Audience</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In soluta eos molestias nihil dicta aperiam reprehenderit dignissimos neque placeat maiores ducimus eius, sed blanditiis doloribus at. Iure quo accusantium, eos.</p>
            </div>
         </div>
      </div>
      <div class="features">
         <h2> - FEATURES - </h2>
         <div>
            <div>
               <h3>Find Places</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugit delectus modi, sed at aperiam nam sequi magnam corporis? Beatae, sit explicabo. Mollitia assumenda quam est et, explicabo exercitationem aliquam.</p>
            </div>
            <div>
               <h3>Invite Friends</h3>
               <p>Veritatis dolores magnam impedit odit ad placeat incidunt error, eum earum quod eveniet facilis dolor necessitatibus commodi iste quo perspiciatis quasi nostrum sequi laudantium molestiae ex pariatur illo. Officia, sit.</p>
            </div>
            <div>
               <h3>Join Friends</h3>
               <p>Qui quasi, quae quo necessitatibus, commodi accusamus debitis ducimus incidunt distinctio. Veniam, dolor eum sequi nobis laborum et nulla, doloremque assumenda debitis. Et fugit sed maiores ab tempore iure at.</p>
            </div>
            <div>
               <h3>Track Favorites</h3>
               <p>Debitis laborum dolorum beatae, distinctio modi asperiores quasi necessitatibus neque harum rerum delectus quos cum ad voluptas ea a vel sequi iure quod quisquam nulla blanditiis, praesentium veritatis? Voluptatum, soluta.</p>
            </div>
         </div>
<!--
         <div class="hackathon">
            <h2> - HACKATHON - </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae unde ducimus rem odio labore nihil, obcaecati, sed similique optio dolorem vitae neque repellendus aut aperiam veritatis corporis itaque voluptate aliquam!</p>
         </div>
-->
      </div>
   </div>
