<div id="loginContainer">
   <form>
      <h1>LunchBox</h1>
      <p>
         <label>Username: </label>
         <input type="text" id="user" ng-model="loginName" />
      </p>
      <button type="submit" ng-click="signIn()">Enter</button>
   </form>
</div>
<div id="aboutContainer">
      <div class="about">
         <h2>ABOUT</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem recusandae beatae perferendis nam, aliquam quis labore explicabo ut laboriosam aperiam odit quidem molestiae modi sequi corporis et corrupti. Perferendis, sint?</p>
      </div>
      <div class="features">
         <h2>FEATURES</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus officia amet cum eligendi magnam vel, explicabo, omnis iste impedit ea architecto qui, neque quidem consequuntur! Suscipit rem impedit eum voluptatem?</p>
      </div>
      <div class="hackathon">
         <h2>HACKATHON</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae unde ducimus rem odio labore nihil, obcaecati, sed similique optio dolorem vitae neque repellendus aut aperiam veritatis corporis itaque voluptate aliquam!</p>
      </div>
</div>
