<div id="login">
   <div id="loginContainer">
      <form>
         <h2>LunchBox</h2>
         <input type="text" id="user" ng-model="loginName" placeholder="Username" />
         <button type="submit" ng-click="signIn()">Enter</button>
      </form>
   </div>
   <div id="aboutContainer">
      <div class="about">
         <h2> - ABOUT - </h2>
         <div class="subcategories">
            <div class="paragraph">
               <h3>Purpose</h3>
               <p>Lunch socials have never been easier. Our goal is to provide you with a way to efficiently and effectively organize your lunchtime outings so that you can enjoy your midday break without hassle.</p>
            </div>
            <div class="paragraph">
               <h3>Audience</h3>
               <p>This site is specially designed for CDK employees. Integrating the CDK personnel database and a location feature, it can find restaurants within 5,000 meters of your working office. Simply log in using your CDK username and we will automatically gather your full name and office to offer you a simple and intuitive experience.</p>
            </div>
         </div>
      </div>
      <div class="features">
         <h2> - FEATURES - </h2>
         <div class="subcategories">
            <div class="paragraph">
               <h3>Find Places</h3>
               <p>With a built-in Google Maps interface, you can now find the names and addresses of various restaurants with the click of a button. Nifty, isn't it?</p>
            </div>
            <div class="paragraph">
               <h3>Invite Friends</h3>
               <p>Tired of miscommunication? LunchBox’s got you covered. You can now easily keep track of who wants to join your social right from your browser. No need to dig through chat and/or call history anymore.</p>
            </div>
            <div class="paragraph">
               <h3>Join Friends</h3>
               <p>Just like inviting friends, you can also join lunch groups with ease. It takes less than a second—press a button and you’re in.</p>
            </div>
            <div class="paragraph">
               <h3>Track Favorites</h3>
               <p>With LunchBox, you can now find nearby food places, read reviews, and invite or join friends to lunch. You can even keep track of your favorite places—what more can you ask for?</p>
            </div>
         </div>
      </div>
      <div class="hackathon">
         <p>This website was made during CDK Global’s 2017 Hackathon</p>
      </div>
   </div>
