<div class="content">
   <div id="peopleList">
      <h3>People going to lunch</h3>
      <div class="event">
         <div class="person">
            <img src="https://image.freepik.com/free-icon/user-male-silhouette_318-55563.jpg" alt="no image">
            <h4>Connor Christensen</h4>
         </div>
         <div class="location">
            <i class="fa fa-map-marker"></i>
            <div>
               <p>Chipotle</p>
               <p>1948 SW Broadway, Portland, OR 97201</p>
            </div>
         </div>
         <div class="other">
            <div>
               <i class="fa fa-clock-o"></i>
               <p>12:30</p>
            </div>
            <div>
               <i class="fa fa-users"></i>
               <p>10</p>
            </div>
            <div>
               <i class="fa fa-car"></i>
            </div>
         </div>
      </div>
   </div>
   <div id="moreInfo">

   </div>
   <div id="map">
      <img src="map.png" alt="">
   </div>
</div>
