<div id="home">
   <div class="content">
      <div id="peopleList">
         <h3>People going to lunch</h3>
         <div class="event">
            <div class="person">
               <img src="https://image.freepik.com/free-icon/user-male-silhouette_318-55563.jpg" alt="no image">
               <h4>Connor Christensen</h4>
            </div>
            <div class="location">
               <i class="fa fa-map-marker"></i>
               <div>
                  <p>Chipotle</p>
                  <p>1948 SW Broadway, Portland, OR 97201</p>
               </div>
            </div>
            <div class="other">
               <div>
                  <i class="fa fa-clock-o"></i>
                  <p>12:30</p>
               </div>
               <div>
                  <i class="fa fa-users"></i>
                  <p>10</p>
               </div>
               <div>
                  <i class="fa fa-car"></i>
               </div>
            </div>
         </div>
      </div>
      <div id="moreInfo">
         <h3>I'm going to lunch</h3>
         <table class="form">
            <tr>
               <td>I'm going to:</td>
               <td><input type="text" ng-model="restaurant.name" id="restaurantNameInput"></td>
            </tr>
            <tr>
               <td>The address is:</td>
               <td><input type="text" ng-model="restaurant.address"></td>
            </tr>
            <tr>
               <td>I'm getting there by:</td>
               <td>
                  <div class="switch switch-blue">
                     <input type="radio" class="switch-input" name="view2" value="driving" id="car" checked ng-model="transport">
                     <label for="car" class="switch-label switch-label-off"><i class="fa fa-car"></i></label>
                     <input type="radio" class="switch-input" name="view2" value="walking" id="walking" ng-model="transport">
                     <label for="walking" class="switch-label switch-label-on">W</label>
                     <span class="switch-selection"></span>
                  </div>
               </td>
            </tr>
            <tr>
               <td>I'm leaving at:</td>
               <td><input type="text" ng-model="time" placeholder="12:00" id="timeInput"></td>
            </tr>
            <tr>
               <td colspan="2">
                  <button type="submit" ng-click="createEvent()" value="submit">submit</button>
               </td>
            </tr>
            <tr>
               <td colspan="2">
                  <span id="error">{{submissionError}}</span>
                  <span id="success">{{submissionSuccess}}</span>
                  
               </td>
            </tr>
         </table>
      </div>
      <div id="map">
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClTi6U6JZbg66Mr99V28H43mPb3GgXe64&libraries=places&callback=initMap" async defer></script>
      </div>
   </div>
</div>
