<div id="profile">

   <div id="aboutYou">
      <img src="https://image.freepik.com/free-icon/user-male-silhouette_318-55563.jpg" alt="">
      <h1>Connor Christensen</h1>
   </div>

   <div id="friends">
      <div class="search">
         <label for="friendSearchInput">Search for a friend</label>
         <input type="text" id="friendSearchInput">
      </div>

      <div id="friendsContainer">
         <div class="friend">
            <div class="imgContainer">
               <img src="https://image.freepik.com/free-icon/user-male-silhouette_318-55563.jpg" alt="">
            </div>
            <h3>Connor Christensen</h3>
         </div>
      </div>
   </div>

   <div id="restaurants">
      <div class="search">
         <label for="restaurantSearchInput">Search for a restaurant</label>
         <input type="text" id="restaurantSearchInput">
      </div>
      <div id="restaurantContainer">
         <div class="restaurant">
            <h3>Restaurant Name</h3>
         </div>
      </div>
   </div>
</div>
